.welc_nav {
    display: flex !important;
}

.welc_log {
    filter: invert(19%) sepia(0%) saturate(6067%) hue-rotate(168deg) brightness(100%) contrast(75%);
    width: 50px;
    height: 50px;
}

.welc_log:hover {
    filter: invert(16%) sepia(100%) saturate(3807%) hue-rotate(3deg) brightness(89%) contrast(114%);

}

.img-preview-page {
    width: 180px !important;
    height: auto;
}

.title-preview {
    font-size: 64px;
}

.main-container-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fit-content {
    width: fit-content;
}

.login-text {
    font-size: 18px;
    font-weight: bold;
    font-size: 32px;
}

.login-container {
    display: flex;
    filter: hue-rotate(30deg);
}

.login-container>a>img {
    width: 50px;
    height: 50px;
}

.login-container>a>img:hover {
    filter: hue-rotate(180deg);
}

a:hover {
    filter: invert(23%) sepia(83%) saturate(6715%) hue-rotate(355deg) brightness(93%) contrast(119%);

}

.main-container-center {
    border: 1px solid lightgray;
    box-shadow: 0px 0 6px 1px gray;
    font-size: 10;
}

table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    color: #000000;
    height: 40%;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    padding: 3px;
    width: 33%;
    text-align: center;
}

table.GeneratedTable thead {
    background-color: #ff0000;
}

.main-container-menu {
    width: 100%;
    display: flex;
}

.main-container-menu>section {}

.h-gestion-prod {
    width: 100%;
    height: 15vh;
    background-color: gray;

}

body {
    margin: 0 !important;
}

.navigation-menu>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.navigation-menu>ul>li {
    background-color: #ff0000;
    list-style: none;
    padding: 50px;
    border: 1px solid black;
}

.product-menu-container {
    display: flex;
    flex-basis: 60%;
    height: 60vh;
    margin: 35px;
    overflow: scroll;
}

.product-form-container {
    flex-basis: 40%;
    margin: 35px;
}



.container-button-modif {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button-modif>button {
    width: 200px;
    height: 80px;
    background-color: #440801;
    color: #ffffff;
}

.nom-prix-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0px;
}

.date-in-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0px;
}

.description-container {
    display: flex;
    justify-content: center;

}

.form-hidden {
    display: none;
}

.data-inv {
    width: 25% !important;
    height: 80px;
}

.submit-container {}