/* PAGE WELCOME */
.welc_nav {
    display: flex !important;
}

.welc_log {
    filter: invert(19%) sepia(0%) saturate(6067%) hue-rotate(168deg) brightness(100%) contrast(75%);
    width: 50px;
    height: 50px;
}

.welc_log:hover {
    filter: invert(16%) sepia(100%) saturate(3807%) hue-rotate(3deg) brightness(89%) contrast(114%);

}

.img-preview-page {
    width: 180px !important;
    height: auto;
}

.title-preview {
    font-size: 64px;
}

.main-container-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fit-content {
    width: fit-content;
}

.login-text {
    font-size: 18px;
    font-weight: bold;
    font-size: 32px;
}

.login-container {
    display: flex;
    filter: hue-rotate(30deg);
}

.login-container>a>img {
    width: 50px;
    height: 50px;
}

.login-container>a>img:hover {
    filter: hue-rotate(180deg);
}

a:hover {
    filter: invert(23%) sepia(83%) saturate(6715%) hue-rotate(355deg) brightness(93%) contrast(119%);

}


.main-container-center {
    border: 1px solid lightgray;
    box-shadow: 0px 0 6px 1px gray;
    font-size: 10;
}

/* NAV */

.nav_all {
    background-color: #464646;
}

.img_commande {
    width: 30px;
    height: 30px;
}

.img_menu {
    width: 30px;
    height: 30px;
}

.img_inventaire {
    width: 30px;
    height: 30px;
}

.img_employes {
    width: 30px;
    height: 30px;
}

.img_login {
    width: 30px;
    height: 30px;
}

.img_promo {
    width: 30px;
    height: 30px;
}

.nav_btn_user:hover {
    background-color: #ea0f08;
    margin-bottom: -10px;
}

.nav_btn_user:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%);
}

.nav_op:hover {
    background-color: #ea0f08;
    margin-bottom: -10px;
}

.nav_op:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%);
}

.nav_deroule {
    background-color: #464646;
    color: black;
}

.nav_deroule:hover {
    background-color: #ea0f08;
    color: white;
}

.nav_all_deroule {
    background-color: #464646;
}

/* PAGE CONNEXION */

.btn_connexion {
    background-color: #ea0f08 !important;
}

/* PAGE GESTION DE PROMO */
.img_ajoutPromo {
    width: 60px;
    height: 60px;
    filter: invert(16%) sepia(100%) saturate(3807%) hue-rotate(3deg) brightness(89%) contrast(114%);
    margin-left: 240px;
    margin-top: 40px;
}

.img_filtrePromo {
    width: 30px;
    height: 30px;
}

.img_imgPromo {
    width: 80px;
    height: 80px;
}

.img_editPromo {
    width: 30px;
    height: 30px;
    filter: invert(16%) sepia(100%) saturate(3807%) hue-rotate(3deg) brightness(89%) contrast(114%);
}

.img_desactivePromo {
    width: 40px;
    height: 40px;
    filter: invert(16%) sepia(100%) saturate(3807%) hue-rotate(3deg) brightness(89%) contrast(114%);
}

/*css Sarah*/

.labelClient{
    width: 100px;
    text-align: right;
}

/* PAGE AJOUT PRODUIT */

.img_plusProd {
    width: 15px;
    height: 15px;
}

.img_moinProd {
    width: 15px;
    height: 15px;
}

.btn_sup {
    margin-left: 69%;
}

#addPromo_btnEnv {
    margin-top: 4%;
    margin-left: 70%;
    margin-bottom: 4%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 30px;
    background-color: #ea0f08;
    color: white;
}

/* PAGE GESTION EMPLOYES */

.img_addUser {
    width: 60px;
    height: 60px;
    filter: invert(16%) sepia(100%) saturate(3807%) hue-rotate(3deg) brightness(89%) contrast(114%);
    margin-left: 240px;
    margin-top: 40px;
}

/* PAGE ADD EMPLOYE */

#addEmp_btnEnv {
    margin-top: 4%;
    margin-bottom: 4%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 30px;
    background-color: #ea0f08;
    color: white;
}

/* PAGE EMPLOYE */

.img_imgEmploye {
    width: 130px;
    height: 130px;
}

.span_tel {
    margin-right: 42px;
}

.span_naissance {
    margin-right: 72px;
}

.span_embauche {
    margin-right: 74px;
}

/* PAGE MODIFICATION EMPLOYE */

#btnModif {
    margin-left: 45%;
    margin-bottom: 4%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 30px;
    background-color: #ea0f08;
    color: white;
}


table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    color: #000000;
    height: 40%;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    padding: 3px;
    width: 33%;
    text-align: center;
}

table.GeneratedTable thead {
    background-color: #ff0000;
}

.main-container-menu {
    width: 100%;
    display: flex;
}

.main-container-menu>section {}

.h-gestion-prod {
    width: 100%;
    height: 15vh;
    background-color: gray;

}

body {
    margin: 0 !important;
}

.navigation-menu>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.navigation-menu>ul>li {
    background-color: #ff0000;
    list-style: none;
    padding: 50px;
    border: 1px solid black;
}

.product-menu-container {
    display: flex;
    flex-basis: 60%;
    height: 60vh;
    margin: 35px;
    overflow-y: scroll;
}

.product-form-container {
    flex-basis: 40%;
    margin: 35px;
}



.container-button-modif {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button-modif>button {
    width: 200px;
    height: 80px;
    background-color: #440801;
    color: #ffffff;
}

.nom-prix-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0px;
}

.date-in-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0px;
}

.description-container {
    display: flex;
    justify-content: center;

}

.form-hidden {
    display: none;
}

.data-inv {
    width: 25% !important;
    height: 80px;
}

.submit-container {}

.search-bar {
    width: 30%;
    border-radius: 50px;
    height: 50px;
    font-size: 22px;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.form-ajout-int {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-ajout-int>div {
    width: fit-content;

}

.add-int {
    color: white;
    background-color: #91491A;
    width: 100%;
    height: 30px;
}

input[value="Search inventory"] {
    color: white;
    background-color: #91491A;

    height: 30px;
}

.product-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    cursor:pointer;
}
